
.feature-item{

	position:relative;
	margin-bottom: 4rem;

	@mixin atSmall{
		padding-left: 85px;
	}

	&__title{
		font-size:1.8rem;
		font-weight: 400;
		margin-bottom: 1rem;
		text-align: center;
		margin-top: .7rem;

		@mixin atSmall{
			text-align: left;
			margin-top:0;
		}

	}

	&__icon{

		display:block;
		margin:0 auto;
		@mixin atSmall{
			position: absolute;
			top:0;
			left:0;
		}

	}

}