
.site-header {
	position:absolute;
	z-index: 2;
	width:100%;
	transition:background-color .5s ease-out;

	&--blue {
		background-color: rgba($mainBlue, .7);
	}

	@mixin atMedium {
		background-color: rgba($mainBlue, .3);
		padding:1rem 0;
		position: fixed;

		&--dark {
			background-color: rgba(23, 51, 72, .85);
		}
	}

	&__logo {
		background-color: $mainBlue;
		position: absolute;
		top:0;
		padding:1rem 2rem;
		left:50%;
		transform: translateX(-50%) scale(.8);
		transform-origin: 50% 0;

		@mixin atMedium {
			left:auto;
			transform: translateX(0);
			transition: all .5s ease-out;
			
			.site-header--dark & {
				transform: scale(.79);
			}

		}
	}

	&__logo__graphic {
		text-indent: -9999px;
	}

	.btn {

		@mixin atMedium {
		
			float:right;
		}

	}

	&__menu-content {
		opacity:0;
		transform:scale(1.2);	
		transition:all .5s ease-out;
		position:relative;
		z-index:-1;
		padding-top:6rem;
		text-align: center;

		@mixin atMedium {
			opacity:1;
			z-index: 1;
			padding-top:0;
			transform:scale(1);
		}

		&--visible {
			opacity:1;
			z-index:1;
			transform:scale(1);
		}
	}


	&__menu-icon { 
		width: 20px;
		height: 19px;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 10;
		cursor:pointer;

		&::before {
			content:"";
			position:absolute;
			width:20px;
			height:3px;
			background-color: #fff;
			top:0;
			left:0;
			transform-origin: 0 0;
			transition:all .3s ease-out;
		}

		&--middle {
			position:absolute;
			width:20px;
			height:3px;
			background-color: #fff;
			top:8px;
			left:0;
			transform-origin: 0 0;
			transition:all .3s ease-out;
		}

		&::after {
			content:"";
			position:absolute;
			width:20px;
			height:3px;
			background-color: #fff;
			top:16px;
			left:0;
			transform-origin:0 100%;
			transition:all .3s ease-out;
		}

		@mixin atMedium {
			display: none;
		}
	}

	&__menu-icon--close {
		&::before {
			transform: rotate(45deg) scaleX(1.2) translateX(2px);
		}

		& .site-header__menu-icon--middle {
			opacity:0;
			transform: scale(0);
		}

		&::after {
			transform: rotate(-45deg) scaleX(1.2) translateY(3px);
		}
	}

}