.social-icons {
	text-align: center;

	&__icon-box {
		display: inline-block;
		background-color: $mainOrange;
		width:33%;
		height:70px;
		position: relative;
		margin: 0 5px 5px 5px;

		@mixin atSmaller {
			width:70px;
			margin: 0 5px;
		}


	}


	&__icon {
		display:block;
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
	}



}